---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import { Picture } from 'astro:assets';
import myImage from '@/assets/12.jpg';
import { TestImage } from '@rcomp/playground/TestImage';
import { getImage } from 'astro:assets';
import googleIcon from '@/assets/google-icon.webp';
import twitterIcon from '@/assets/twitter-icon.webp';
import facebookIcon from '@/assets/facebook-icon.webp';
import githubIcon from '@/assets/github-icon.webp';
import ButtonSocialDemo from '@rcomp/shadcn-studio/ButtonSocial';
import { createSeo } from '@/lib/shared/schemas/seo.schema';

const google = await getImage({ src: googleIcon, width: 20, height: 20, format: 'webp' });
const twitter = await getImage({ src: twitterIcon, width: 20, height: 20, format: 'webp' });
const facebook = await getImage({ src: facebookIcon, width: 20, height: 20, format: 'webp' });
const github = await getImage({ src: githubIcon, width: 20, height: 20, format: 'webp' });
const seo = createSeo({
  title: 'Images Test',
  description: 'Powered by Astro + Hono + oRPC',
  date: new Date(2026, 3, 15).toISOString(),
});
---

<Layout {...seo}>
  # Image Test
  <div slot="main" class="mx-auto py-5 text-center text-2xl">
    Astro Component<Image
      src={myImage}
      alt="My Image"
      width={1200}
      height={438}
      quality={70}
      format="webp"
      decoding="async"
      loading="lazy"
      class="mx-auto my-4 h-auto w-1/2 rounded-lg shadow-lg"
    />
  </div>
  <TestImage slot="main" client:load
    ><Image
      src={myImage}
      alt="My Image"
      width={1200}
      height={438}
      quality={70}
      format="webp"
      decoding="async"
      loading="lazy"
      class="mx-auto my-4 h-auto w-1/2 rounded-lg shadow-lg"
    /></TestImage
  >
  <TestImage slot="main" client:load
    ><Picture
      src={myImage}
      alt="My Image"
      formats={['webp', 'avif', 'jpg', 'png']}
      width={1200}
      height={438}
      quality={70}
      decoding="async"
      loading="lazy"
      class="mx-auto my-4 h-auto w-1/2 rounded-lg shadow-lg"
    /></TestImage
  >
  <ButtonSocialDemo
    slot="main"
    client:load
    icons={{
      google: google.src,
      twitter: twitter.src,
      facebook: facebook.src,
      github: github.src,
    }}
  />
</Layout>
