BUN_FS_POLLING=1
#NeonDB
DB_URL=
#Upstash (Redis)
UPSTASH_REDIS_URL=
# BetterAuth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
# Public
PUBLIC_URL=
PUBLIC_API_URL=
# OAuth (Google and GitHub)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_SECRET=

#Cloud token
CLOUD_TOKEN=

# Resend email React
RESEND_EMAIL=

# Security
ARCJET_KEY=
ARCJET_ENV=

#Qwen
QWEN_API_KEY=

# Pangolin Newt
PANGOLIN_ENDPOINT=
NEWT_SECRET=
