---
import Welcome from '@acomp/Welcome.astro';
import Layout from '@/layouts/Layout.astro';
import '@/styles/global.css';
import { serverClient } from '@server/server.client';
import { TestClient } from '@rcomp/TestClient';
import UserProfile from '@rcomp/TestTanstackQuery.tsx';
import TanstackDevWrapper from '@/lib/tanstack-query/TanstackDevWrapper';

let data: { name: string } = { name: '' };
try {
  data = await serverClient.test({ name: 'from oRPC Server' });
} catch (error: any) {
  data = { name: error.message };
}
---

<Layout title="Main Page">
  # oRPC Server
  <h1 slot="main" class="text-3xl font-bold text-indigo-700 underline">{data.name}</h1>
  # oRPC Client
  <TestClient slot="main" className="text-3xl font-bold text-sky-700 underline" client:load />
  # Tanstack Query with oRPC Client
  <TanstackDevWrapper slot="main" client:load>
    <UserProfile className="text-3xl font-bold text-green-700 underline" client:only="react" />
  </TanstackDevWrapper>
  <Welcome slot="main" />
</Layout>
