---
const cases = [
  { title: 'Hi', description: 'Test description', author: 'Igor', date: 'Apr 10, 2026' },
  { title: 'No Description Yet', author: 'Igor' },
  { title: 'With Author Only', author: 'Hassan', date: 'Apr 12, 2026' },
];
---

<html>
  <body style="background: #111; padding: 20px; display: flex; flex-direction: column; gap: 20px;">
    {
      cases.map(({ title, description, author, date }) => {
        const params = new URLSearchParams();

        if (title) params.set('title', title);
        if (description) params.set('description', description);
        if (author) params.set('author', author);
        if (date) params.set('date', date);

        return <img src={`/api/og?${params.toString()}`} style="width: 600px; border-radius: 8px;" />;
      })
    }
  </body>
</html>
