---
import DevTools from '@/lib/tanstack-query/QueryDevTools';
import '@/styles/global.css';
import { Toaster } from '@rcomp/ui/sonner';
import HEAD from '@/components/astrocomp/layout/HEAD.astro';
import type { SEO } from '@/server/schemas/seo.schema';

const props = Astro.props as Partial<SEO>;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <!-- METADATA, CSS, JS, etc -->
  <HEAD {...props} />

  <!-- BODY, CONTENT, FOOTER -->
  <body>
    <div class="bg-background min-h-screen">
      <!-- Content -->
      <slot name="header" />
      <slot name="main" />
      <slot name="footer" />

      <!-- Toaster for sonner -->
      <Toaster client:load position="top-right" />
    </div>

    <!-- Tanstack Query DevTools -->
    <DevTools client:only="react" />
  </body>
</html>
